* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
}
.logo-img {
  width: 3rem;
  height: 3rem;
}
.logo {
  display: flex;
}
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.932);
  top: 0;
  z-index: 10;
}
.menu-btn i {
  cursor: pointer;
  font-size: 1.8rem;
}
.menu-btn i:hover {
  opacity: 0.5;
}
.nav-menu {
  display: grid;
  background: rgba(255, 255, 255, 0.932);
  width: 30vw;
  grid-gap: 3rem;
  justify-content: center;
  text-align: center;
  position: fixed;
  top: 3rem;
  right: 0;
  padding: 2rem 0;
  border-radius: 0 3px;
  transition: all 0.5s ease-in-out;
  transform: translateX(100%);
}
#toggle {
  display: none;
}
#toggle:checked + .nav-menu {
  transform: translateX(0);
}
.menu a {
  text-decoration: none;
  color: black;
}
.mail a {
  text-decoration: none;
  color: black;
}
.menu a:hover {
  opacity: 0.5;
}

/*Slider z obraazkami i napisami*/
main {
  margin-top: 3rem;
  overflow: hidden;
}
.text-slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: azure;
  text-shadow: 0 0 7px black;
  text-align: center;
}
.slider {
  display: flex;
  width: 100vw;
  position: relative;
}
.slider img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  animation: animate 60s infinite;
  opacity: 0.9;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: top;
  margin: 1rem 0;
}
.social-icons {
  display: flex;
  justify-content: center;
}

.fab {
  font-size: 3rem;
  transition: color 0.4s;
  cursor: pointer;
  margin: 0.4rem;
}
.fa-facebook-square:hover {
  color: #3b5999;
}
.fa-instagram-square:hover {
  color: #e4405f;
}
.foot {
  margin: 0.5rem;
}
.foot ul li {
  list-style-type: none;
}
.foot ul li a {
  text-decoration: none;
  color: gray;
}
.foot ul li a:hover {
  color: rgb(65, 65, 65);
}
.foot h3 {
  text-align: center;
}
@keyframes animate {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-100%);
  }
  35% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(-200%);
  }
  55% {
    transform: translateX(-200%);
  }
  60% {
    transform: translateX(-300%);
  }
  75% {
    transform: translateX(-300%);
  }
  80% {
    transform: translateX(-400%);
  }
  95% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(-500%);
  }
}

@media only screen and (max-width: 810px) {
  .foot ul {
    display: none !important;
  }
  .mail {
    display: none !important;
  }
  .pic {
    font-size: 2rem;
  }
  footer {
    display: grid;
    grid-template-areas:
      "a a a"
      "b c d";
  }
  .social-icons {
    grid-area: a;
  }
  .nav-menu {
    width: 100vw;
}
