* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
:root {
  --nav-bg-color: rgba(88, 85, 85, 1);
  --logo-color: rgb(209, 211, 212);
  --text-color: rgb(231, 231, 231);
  --text-color-hover: rgb(177, 177, 177);
}
body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}
/*górny pasek navigacyjny z goiem i hamburgerem*/
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3rem;
  background: var(--nav-bg-color);
  z-index: 2;
}
.nav__logo {
  width: 2rem;
  color: var(--text-color);
  filter: invert(1);
}
.nav__tel a,
.nav__mail a {
  color: var(--text-color);
  font-size: 1.2rem;
  line-height: 3rem;
}

.nav__menu {
  position: absolute;
  right: 0px;
  height: 95vh;
  top: 3rem;
  width: 30%;
  background: var(--nav-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
  z-index: 2;
}
/* transition of slide menu*/
.nav__menu--slide {
  transform: translateX(0);
}

.nav__menu__link {
  color: var(--text-color);
  letter-spacing: 2px;
  font-size: 1.3rem;
}

.nav__burger {
  display: block;
  font-size: 2rem;
  color: var(--text-color);
  cursor: pointer;
}

.nav__logo i:hover,
.nav__tel a:hover,
.nav__mail a:hover,
.nav__menu__link:hover,
.nav__burger:hover {
  color: var(--text-color-hover);
  transition: all 0.4s ease;
}

.nav__burger--dark {
  color: var(--text-color-hover);
}
/*Slider z obraazkami i napisami*/
main {
  margin-top: 0rem;
}

.slider {
  display: flex;
  position: relative;
  overflow: hidden;
}
.slider img {
  object-fit: cover;
  min-width: 100vw;
  height: 95vh;
  object-position: center;
  animation: animate 60s infinite;
  opacity: 0.8;
}
.text-slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: var(--text-color);
  text-shadow: 0 0 7px black;
  text-align: center;
  z-index: 1;
}
/*Slider with pic END*/

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: top;
  margin: 1rem 0;
}
.social-icons {
  display: flex;
  justify-content: center;
}

.fab {
  font-size: 3rem;
  transition: color 0.4s;
  cursor: pointer;
  margin: 0.4rem;
}
.fa-facebook-square:hover {
  color: #3b5999;
}
.fa-instagram-square:hover {
  color: #e4405f;
}
.foot {
  margin: 0.5rem;
}
.foot ul li {
  list-style-type: none;
}
.foot ul li a {
  text-decoration: none;
  color: gray;
}
.foot ul li a:hover {
  color: rgb(65, 65, 65);
}
.foot h3 {
  text-align: center;
}
@keyframes animate {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-100%);
  }
  35% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(-200%);
  }
  55% {
    transform: translateX(-200%);
  }
  60% {
    transform: translateX(-300%);
  }
  75% {
    transform: translateX(-300%);
  }
  80% {
    transform: translateX(-400%);
  }
  95% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(-500%);
  }
}

@media only screen and (max-width: 810px) {
  .foot ul {
    display: none !important;
  }
  .nav__mail {
    display: none !important;
  }

  footer {
    display: grid;
    grid-template-areas:
      "a a a"
      "b c d";
  }
  .social-icons {
    grid-area: a;
  }
  .nav__menu {
    width: 100vw;
  }
  .text-slider {
    font-size: 2rem;
  }
}
